In [2]:
import numpy as np
import pandas as pd
from matplotlib.colors import ListedColormap
import sklearn
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [3]:
datos=pd.read_csv('F:/dumps/KNN/dados transporte empleados.csv',sep=';', 
                  index_col='Employee ID')

In [4]:
data=pd.DataFrame(datos)

In [5]:
df=data.drop_duplicates()

In [6]:
df2=df.replace({'GENDER':{'F':1,'M':2,'U':1},'MARITAL STATUS':{'S':1,'M':2},
                'Mode':{'Car':1,'Public Transportation':2,'Bike':3}})

In [7]:
df2.to_csv('F:dumps/for_knn.csv')

In [8]:
dat=pd.read_csv('F:/dumps/for_knn.csv',sep=',', index_col='Employee ID')
dat

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>GENDER</th>
      <th>Age</th>
      <th>MARITAL STATUS</th>
      <th>DriveDistanceMiles</th>
      <th>Mode</th>
    </tr>
    <tr>
      <th>Employee ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>649</th>
      <td>1</td>
      <td>31</td>
      <td>1</td>
      <td>0.34</td>
      <td>1</td>
    </tr>
    <tr>
      <th>991</th>
      <td>2</td>
      <td>53</td>
      <td>1</td>
      <td>0.41</td>
      <td>2</td>
    </tr>
    <tr>
      <th>611</th>
      <td>1</td>
      <td>37</td>
      <td>1</td>
      <td>0.49</td>
      <td>3</td>
    </tr>
    <tr>
      <th>791</th>
      <td>2</td>
      <td>41</td>
      <td>1</td>
      <td>0.50</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1247</th>
      <td>2</td>
      <td>87</td>
      <td>2</td>
      <td>0.50</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3261</th>
      <td>1</td>
      <td>34</td>
      <td>1</td>
      <td>0.53</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1224</th>
      <td>1</td>
      <td>65</td>
      <td>2</td>
      <td>0.61</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1074</th>
      <td>2</td>
      <td>70</td>
      <td>1</td>
      <td>0.67</td>
      <td>2</td>
    </tr>
    <tr>
      <th>779</th>
      <td>2</td>
      <td>41</td>
      <td>1</td>
      <td>0.76</td>
      <td>3</td>
    </tr>
    <tr>
      <th>250</th>
      <td>2</td>
      <td>52</td>
      <td>1</td>
      <td>0.85</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2755</th>
      <td>2</td>
      <td>36</td>
      <td>1</td>
      <td>0.89</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2360</th>
      <td>1</td>
      <td>38</td>
      <td>2</td>
      <td>0.99</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1662</th>
      <td>2</td>
      <td>25</td>
      <td>1</td>
      <td>1.00</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3292</th>
      <td>1</td>
      <td>44</td>
      <td>1</td>
      <td>1.02</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1850</th>
      <td>1</td>
      <td>64</td>
      <td>2</td>
      <td>1.02</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1282</th>
      <td>1</td>
      <td>41</td>
      <td>2</td>
      <td>1.11</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3312</th>
      <td>2</td>
      <td>80</td>
      <td>1</td>
      <td>1.21</td>
      <td>2</td>
    </tr>
    <tr>
      <th>848</th>
      <td>1</td>
      <td>52</td>
      <td>2</td>
      <td>1.22</td>
      <td>2</td>
    </tr>
    <tr>
      <th>931</th>
      <td>1</td>
      <td>25</td>
      <td>1</td>
      <td>1.22</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2911</th>
      <td>2</td>
      <td>52</td>
      <td>1</td>
      <td>1.23</td>
      <td>2</td>
    </tr>
    <tr>
      <th>907</th>
      <td>2</td>
      <td>36</td>
      <td>2</td>
      <td>1.24</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1387</th>
      <td>2</td>
      <td>53</td>
      <td>1</td>
      <td>1.27</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1254</th>
      <td>2</td>
      <td>21</td>
      <td>1</td>
      <td>1.40</td>
      <td>3</td>
    </tr>
    <tr>
      <th>987</th>
      <td>1</td>
      <td>46</td>
      <td>2</td>
      <td>1.40</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1050</th>
      <td>2</td>
      <td>65</td>
      <td>1</td>
      <td>1.41</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2714</th>
      <td>2</td>
      <td>42</td>
      <td>1</td>
      <td>1.44</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1776</th>
      <td>1</td>
      <td>42</td>
      <td>1</td>
      <td>1.46</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1638</th>
      <td>1</td>
      <td>46</td>
      <td>2</td>
      <td>1.47</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1005</th>
      <td>2</td>
      <td>80</td>
      <td>1</td>
      <td>1.50</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2503</th>
      <td>2</td>
      <td>55</td>
      <td>1</td>
      <td>1.51</td>
      <td>2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3209</th>
      <td>1</td>
      <td>69</td>
      <td>2</td>
      <td>12.59</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3105</th>
      <td>1</td>
      <td>30</td>
      <td>1</td>
      <td>12.59</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3309</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.58</td>
      <td>1</td>
    </tr>
    <tr>
      <th>281</th>
      <td>1</td>
      <td>48</td>
      <td>2</td>
      <td>12.57</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1325</th>
      <td>2</td>
      <td>42</td>
      <td>1</td>
      <td>12.57</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1433</th>
      <td>1</td>
      <td>58</td>
      <td>2</td>
      <td>12.56</td>
      <td>1</td>
    </tr>
    <tr>
      <th>629</th>
      <td>2</td>
      <td>58</td>
      <td>1</td>
      <td>12.55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1272</th>
      <td>2</td>
      <td>45</td>
      <td>2</td>
      <td>12.55</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1450</th>
      <td>2</td>
      <td>38</td>
      <td>2</td>
      <td>12.55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1058</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.54</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1058</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.54</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2216</th>
      <td>1</td>
      <td>47</td>
      <td>2</td>
      <td>12.53</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1799</th>
      <td>1</td>
      <td>72</td>
      <td>2</td>
      <td>12.52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2441</th>
      <td>2</td>
      <td>56</td>
      <td>2</td>
      <td>12.52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3302</th>
      <td>2</td>
      <td>61</td>
      <td>2</td>
      <td>12.51</td>
      <td>1</td>
    </tr>
    <tr>
      <th>483</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>631</th>
      <td>1</td>
      <td>38</td>
      <td>1</td>
      <td>12.49</td>
      <td>2</td>
    </tr>
    <tr>
      <th>964</th>
      <td>2</td>
      <td>38</td>
      <td>1</td>
      <td>12.49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1748</th>
      <td>2</td>
      <td>40</td>
      <td>1</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>887</th>
      <td>1</td>
      <td>66</td>
      <td>2</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2723</th>
      <td>2</td>
      <td>66</td>
      <td>1</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3331</th>
      <td>1</td>
      <td>73</td>
      <td>2</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1442</th>
      <td>1</td>
      <td>54</td>
      <td>2</td>
      <td>12.45</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1876</th>
      <td>1</td>
      <td>51</td>
      <td>2</td>
      <td>12.44</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2547</th>
      <td>1</td>
      <td>74</td>
      <td>2</td>
      <td>12.43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>476</th>
      <td>2</td>
      <td>72</td>
      <td>1</td>
      <td>12.43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1991</th>
      <td>2</td>
      <td>55</td>
      <td>2</td>
      <td>12.42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2342</th>
      <td>2</td>
      <td>75</td>
      <td>1</td>
      <td>12.41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1253</th>
      <td>1</td>
      <td>66</td>
      <td>2</td>
      <td>12.40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>45</th>
      <td>2</td>
      <td>86</td>
      <td>1</td>
      <td>12.40</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>2026 rows × 5 columns</p>
</div>

In [9]:
dat.iloc[1556]

GENDER                 1.00
Age                   42.00
MARITAL STATUS         2.00
DriveDistanceMiles    16.79
Mode                   1.00
Name: 2871, dtype: float64

In [10]:
datos_entrada=df2[['GENDER','Age','MARITAL STATUS','DriveDistanceMiles']]
datos_target=df2['Mode']

In [11]:
X_train,X_test,y_train,y_test=train_test_split(datos_entrada,datos_target)

In [12]:
X_train.shape

(1519, 4)

In [13]:
X_test.shape

(507, 4)

In [14]:
y_train.shape

(1519,)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
knn=KNeighborsClassifier(n_neighbors=5)

In [17]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [18]:
knn.score(X_test,y_test)

0.8362919132149902

In [19]:
dat_pred=pd.read_csv('F:/dumps/KNN/missingemployees.csv',sep=',', 
                  index_col='Employee ID')

In [20]:
dat_pred2=dat_pred.replace({'GENDER':{'F':1,'M':2,'U':1},
                            'MARITAL STATUS':{'S':1,'M':2}})

In [21]:
dat_pred2['MARITAL STATUS'].unique()

array([1, 2], dtype=int64)

In [22]:
dat_pred2['Mode']=knn.predict(dat_pred2)

In [23]:
dat_pred2.drop_duplicates().sort_index()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>GENDER</th>
      <th>Age</th>
      <th>MARITAL STATUS</th>
      <th>DriveDistanceMiles</th>
      <th>Mode</th>
    </tr>
    <tr>
      <th>Employee ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3150</th>
      <td>2</td>
      <td>41</td>
      <td>1</td>
      <td>0.50</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3151</th>
      <td>1</td>
      <td>65</td>
      <td>2</td>
      <td>0.61</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3152</th>
      <td>2</td>
      <td>52</td>
      <td>1</td>
      <td>0.85</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3153</th>
      <td>1</td>
      <td>38</td>
      <td>2</td>
      <td>0.99</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3154</th>
      <td>2</td>
      <td>25</td>
      <td>1</td>
      <td>1.00</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3155</th>
      <td>1</td>
      <td>41</td>
      <td>2</td>
      <td>1.11</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3156</th>
      <td>1</td>
      <td>52</td>
      <td>2</td>
      <td>1.22</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3157</th>
      <td>1</td>
      <td>25</td>
      <td>1</td>
      <td>1.22</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3159</th>
      <td>2</td>
      <td>52</td>
      <td>1</td>
      <td>1.23</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3160</th>
      <td>2</td>
      <td>36</td>
      <td>2</td>
      <td>1.24</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3161</th>
      <td>2</td>
      <td>53</td>
      <td>1</td>
      <td>1.27</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3162</th>
      <td>1</td>
      <td>46</td>
      <td>2</td>
      <td>1.47</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3163</th>
      <td>2</td>
      <td>80</td>
      <td>1</td>
      <td>1.50</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3164</th>
      <td>2</td>
      <td>55</td>
      <td>1</td>
      <td>1.51</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3165</th>
      <td>1</td>
      <td>35</td>
      <td>2</td>
      <td>1.58</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3166</th>
      <td>2</td>
      <td>46</td>
      <td>1</td>
      <td>1.63</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3167</th>
      <td>2</td>
      <td>36</td>
      <td>1</td>
      <td>1.68</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3168</th>
      <td>2</td>
      <td>55</td>
      <td>1</td>
      <td>1.77</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3169</th>
      <td>1</td>
      <td>65</td>
      <td>1</td>
      <td>1.89</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3170</th>
      <td>2</td>
      <td>65</td>
      <td>1</td>
      <td>1.90</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3171</th>
      <td>2</td>
      <td>21</td>
      <td>1</td>
      <td>1.91</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3172</th>
      <td>1</td>
      <td>63</td>
      <td>2</td>
      <td>1.99</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3173</th>
      <td>1</td>
      <td>53</td>
      <td>2</td>
      <td>2.03</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3174</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>2.08</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3175</th>
      <td>2</td>
      <td>70</td>
      <td>1</td>
      <td>2.15</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3176</th>
      <td>2</td>
      <td>84</td>
      <td>1</td>
      <td>2.15</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3177</th>
      <td>2</td>
      <td>25</td>
      <td>1</td>
      <td>2.16</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3178</th>
      <td>2</td>
      <td>61</td>
      <td>1</td>
      <td>2.17</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3179</th>
      <td>2</td>
      <td>25</td>
      <td>1</td>
      <td>2.18</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3180</th>
      <td>1</td>
      <td>47</td>
      <td>2</td>
      <td>2.21</td>
      <td>2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4647</th>
      <td>2</td>
      <td>40</td>
      <td>1</td>
      <td>12.69</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4649</th>
      <td>1</td>
      <td>31</td>
      <td>2</td>
      <td>12.69</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4650</th>
      <td>1</td>
      <td>75</td>
      <td>2</td>
      <td>12.68</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4651</th>
      <td>1</td>
      <td>29</td>
      <td>1</td>
      <td>12.67</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4652</th>
      <td>1</td>
      <td>60</td>
      <td>2</td>
      <td>12.67</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4654</th>
      <td>2</td>
      <td>56</td>
      <td>1</td>
      <td>12.67</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4656</th>
      <td>1</td>
      <td>49</td>
      <td>2</td>
      <td>12.63</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4657</th>
      <td>2</td>
      <td>34</td>
      <td>2</td>
      <td>12.62</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4658</th>
      <td>1</td>
      <td>73</td>
      <td>2</td>
      <td>12.62</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4659</th>
      <td>2</td>
      <td>66</td>
      <td>2</td>
      <td>12.62</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4660</th>
      <td>1</td>
      <td>69</td>
      <td>2</td>
      <td>12.59</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4662</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.58</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4663</th>
      <td>1</td>
      <td>48</td>
      <td>2</td>
      <td>12.57</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4664</th>
      <td>2</td>
      <td>58</td>
      <td>1</td>
      <td>12.55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4666</th>
      <td>2</td>
      <td>38</td>
      <td>2</td>
      <td>12.55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4668</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.54</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4669</th>
      <td>1</td>
      <td>47</td>
      <td>2</td>
      <td>12.53</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4670</th>
      <td>1</td>
      <td>72</td>
      <td>2</td>
      <td>12.52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4672</th>
      <td>2</td>
      <td>34</td>
      <td>1</td>
      <td>12.49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4673</th>
      <td>1</td>
      <td>38</td>
      <td>1</td>
      <td>12.49</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4674</th>
      <td>1</td>
      <td>66</td>
      <td>2</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4675</th>
      <td>2</td>
      <td>66</td>
      <td>1</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4676</th>
      <td>1</td>
      <td>73</td>
      <td>2</td>
      <td>12.46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4677</th>
      <td>1</td>
      <td>54</td>
      <td>2</td>
      <td>12.45</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4678</th>
      <td>1</td>
      <td>74</td>
      <td>2</td>
      <td>12.43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4679</th>
      <td>2</td>
      <td>72</td>
      <td>1</td>
      <td>12.43</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4680</th>
      <td>2</td>
      <td>55</td>
      <td>2</td>
      <td>12.42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4682</th>
      <td>2</td>
      <td>75</td>
      <td>1</td>
      <td>12.41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4683</th>
      <td>1</td>
      <td>66</td>
      <td>2</td>
      <td>12.40</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4684</th>
      <td>2</td>
      <td>86</td>
      <td>1</td>
      <td>12.40</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>1194 rows × 5 columns</p>
</div>