In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sn

In [2]:
lote1=pd.read_excel('G:/licita/Libro1.xlsx')
lote1.columns

Index(['ITEM', 'SETOR', 'EQUIPAMENTO', 'MARCA', 'MODELO', 'SÉRIE', 'Locação',
       'Patrimônio', 'Lote '],
      dtype='object')

In [43]:
resumolote1=pd.DataFrame(lote1.groupby(['EQUIPAMENTO','MARCA','MODELO'])
                         ['EQUIPAMENTO'].count())

In [44]:
resumolote1.to_excel('G:/licita/RESUMO1.xlsx')

In [64]:
lote1['SETOR']=lote1['SETOR'].str.upper()
lote1['EQUIPAMENTO']=lote1['EQUIPAMENTO'].str.upper()
lote1['MARCA']=lote1['MARCA'].str.upper()
lote1['MODELO']=lote1['MODELO'].str.upper()
lote1['SÉRIE']=lote1['SÉRIE'].str.upper()
lote1['TOTAL']=0

In [65]:
resumolote1=pd.DataFrame(lote1.groupby(['EQUIPAMENTO','MARCA','MODELO'])
                         ['TOTAL'].count())
resumolote1.to_excel('G:/licita/RESUMO1.xlsx')

In [67]:
lote2=pd.read_excel('G:/licita/Libro2.xlsx')
lote2.columns

Index(['ITEM', 'SETOR', 'EQUIPAMENTO', 'MARCA', 'MODELO', 'SÉRIE', 'Locação'], dtype='object')

In [68]:
lote2['SETOR']=lote2['SETOR'].str.upper()
lote2['EQUIPAMENTO']=lote2['EQUIPAMENTO'].str.upper()
lote2['MARCA']=lote2['MARCA'].str.upper()
lote2['MODELO']=lote2['MODELO'].str.upper()
lote2['SÉRIE']=lote2['SÉRIE'].str.upper()
lote2['TOTAL']=0

In [69]:
lote2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ITEM</th>
      <th>SETOR</th>
      <th>EQUIPAMENTO</th>
      <th>MARCA</th>
      <th>MODELO</th>
      <th>SÉRIE</th>
      <th>Locação</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>ALA A</td>
      <td>CAMA HOSPITALAR ELÉTRICA</td>
      <td>STRYKER</td>
      <td>FL-23</td>
      <td>J16288</td>
      <td>HEER</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>ALA A</td>
      <td>CAMA HOSPITALAR ELÉTRICA</td>
      <td>STRYKER</td>
      <td>FL-23</td>
      <td>J14708</td>
      <td>HEER</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>ALA A</td>
      <td>CAMA HOSPITALAR ELÉTRICA</td>
      <td>STRYKER</td>
      <td>FL-23</td>
      <td>J13083</td>
      <td>HEER</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>ALA A</td>
      <td>CAMA HOSPITALAR ELÉTRICA</td>
      <td>STRYKER</td>
      <td>FL-23</td>
      <td>J14078</td>
      <td>HEER</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>ALA A</td>
      <td>CAMA HOSPITALAR ELÉTRICA</td>
      <td>STRYKER</td>
      <td>FL-23</td>
      <td>J14582</td>
      <td>HEER</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>518</th>
      <td>84</td>
      <td>SALA DE PATRIMÔNIO</td>
      <td>BALANÇA MECÂNICA</td>
      <td>WELMY</td>
      <td>R 110</td>
      <td>106476</td>
      <td>PAM CAVALCANTE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>519</th>
      <td>85</td>
      <td>SALA DE PATRIMÔNIO</td>
      <td>BALANÇA MECÂNICA</td>
      <td>WELMY</td>
      <td>R 110</td>
      <td>110812</td>
      <td>PAM CAVALCANTE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>520</th>
      <td>86</td>
      <td>SALA DE PATRIMÔNIO</td>
      <td>BALANÇA MECÂNICA</td>
      <td>WELMY</td>
      <td>R 110</td>
      <td>106321</td>
      <td>PAM CAVALCANTE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>521</th>
      <td>87</td>
      <td>SALA DE PATRIMÔNIO</td>
      <td>FOCO AMBULATORIAL</td>
      <td>MARTEC</td>
      <td>FC-500</td>
      <td>NaN</td>
      <td>PAM CAVALCANTE</td>
      <td>0</td>
    </tr>
    <tr>
      <th>522</th>
      <td>88</td>
      <td>CME</td>
      <td>AUTOCLAVE</td>
      <td>SERCON</td>
      <td>AHMC 13</td>
      <td>NaN</td>
      <td>PAM CAVALCANTE</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>523 rows × 8 columns</p>
</div>

In [70]:
resumolote2=pd.DataFrame(lote2.groupby(['EQUIPAMENTO','MARCA','MODELO'])
                         ['TOTAL'].count())
resumolote2.to_excel('G:/licita/RESUMO2.xlsx')